.header, nav {
    padding: 1rem 0;
    background-color: burlywood;
}

.nav-link {
    padding: 0.80em;
    text-decoration: none;
    color: #222;
}

.nav-link:hover {
    color: white;
}

.brand-name {
    margin: 0 0 0 2rem;
}
.container {
    display: flex;
    justify-content: space-between;
}

a.active {
    background-color: chocolate;
    border-radius: 5px;
}

